// Globals

body{
  font-family: 'Overpass', sans-serif;
}

h1{

  @include breakpoint-down(small){
    font-size: 24px;
    line-height: 30.38px;
    margin-bottom: 17px;
  }

  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 35.45px;
  color: white;
}

p{

  @include breakpoint-down(small){
    font-size: 14px;
    line-height: 22px;
  }

  line-height: 24px;
  font-weight: 400;
  color: $lightGrey;
}

// Helper Classes

.f-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden{
  display: none;
}

.ta-center{
  text-align: center;
}

// Prompt

.feedback-wrapper{
  width: 100vw;
  height: 100vh;
  background: $black;

}

.prompt{

  @include breakpoint-down(small){
    width: 327px;
    height: 360px;
    border-radius: 15px;
    padding: 24px;
  }

  width: 412px;
  height: 416px;
  background: #232A34;
  background: -webkit-radial-gradient(top, #232A34 ,#181E27);
  background: -moz-radial-gradient(top, #232A34, #181E27);
  background: radial-gradient(to bottom, #232A34, #181E27);
  border-radius: 30px;
  padding: 32px;
  position: relative;
}

.main-text{
  margin-bottom: 24px;
}

.icon-wrapper{

  @include breakpoint-down(small){
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
  }

  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: $darkBlue;
  margin-bottom: 30px;


  & img{

    @include breakpoint-down(small){
      width: 14px;
      height: 14px;
    }

    width: 16px;
    height: 16px;
  }
}

.rating-wrapper{

  @include breakpoint-down(small){
    height: 42px;
    margin-bottom: 24px;
  }

  height: 51px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 32px;

  & div{

    @include breakpoint-down(small){
      width: 42px;
      height: 42px;
      font-size: 14px;
    }

    width: 51px;
    height: 51px;
    background: $darkBlue;
    border-radius: 50%;
    color: $mediumGrey;
    font-weight: 700;
    line-height: 51px;
    transition: color 300ms ease-in;
    transition: background 300ms ease-in;

    &:hover{
      color: white;
      background: $lightGrey;
      cursor: pointer;
    }

  &.active{
      background: $orange;
    }
  }
}

.submit-check{

  @include breakpoint-down(small){
  width: 250px;
  }

  width: 350px;
  height: 75px;
  border: 1px solid $orange;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; 
  top: -100px;
  background: #232A34;
  text-align: center;

  & p{
      font-weight: 700;
  }
}

.submit-btn{
  height: 45px;
  background: $orange;
  border-radius: 22.5px;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  transition: color 300ms ease-in;
  transition: background 300ms ease-in;

  &:hover{
    background: white;
    color: $orange;
    cursor: pointer;
  }
}

.img-wrapper{

    @include breakpoint-down(small){
      margin: 10px 0 24px;
    }

    margin: 13px 0 32px;

  & img{
    height: 108px;
    width: 162px;
  }
}

.rating-selection{

  @include breakpoint-down(small){
    margin-bottom: 24px;
  }

  width: 193px;
  height: 32px;
  border-radius: 22.5px;
  background: $darkBlue;
  color: $orange;
  font-size: 16px;
  text-align: center;
  margin: auto;
  margin-bottom: 32px;
}

.confirmation h1{

  @include breakpoint-down(small){
    margin-bottom: 10px;
  }

  text-align: center;
}
