//Colours
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: #7C8798;
$darkBlue: #262E38;
$veryDarkBlue: #171E28;
$black: #131518;
$orange: #FC7614;
;

 // fonts

 $font-sm: .875rem;
 $font-md: 1rem;
